<div class="jumbotron">
  <h1>League Trainer</h1>
  <p>The best way to up your game</p>
</div>
<div>
  <p>Want to get better at league? Then you better learn how to play the game. While the best way to learn is to do, it never hurts to have a resource on your side.</p>
  <p>
    Whether you want to view an in-game build or see just how well you did during those last few games, this is the go-to source for all the info you desire!
  </p>
</div>
<%= link_to "Champions", champions_path %> |
<%= link_to "Calculator", calculators_path %> |
<%= link_to "Items", items_path %>
