<div class="jumbotron">
  <h1>League Trainer</h1>
  <p>The best way to up your game</p>
</div>
<div>
  <p> This is very much a work in progress, all that is done is the homepage at this point. But what you will be able to do is simple: Look at your previous matches and see every stat you could be interested in at any minute during the match</p>
</div>
<%= link_to "Champions", champions_path %>
