<div class="page-header">
  <h1>List of Current Champions</h1>
</div>
<table class="table">
  <thead>
    <th>Champion</th>
    <th></th>
  </thead>
  <tbody>

    <% @champion_list.each do |champion| %>

      <% if champion.class == String %>
        <tr>
          <td>
            <%= link_to champion, champion_path(champion) %>
          </td>
          <td>
            <%= link_to "Calculator", calculator_path(champion) %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
