<div class="page-header">
  <h1>List of Current Champions</h1>
</div>
<table class="table">
  <thead>
    <th>Champion</th>
    <th></th>
  </thead>
  <tbody>

    <% @champions[:data].each do |champion, info| %>
        <tr>
          <td>
            <%= link_to info[:name], champion_path(info[:id]) %>
          </td>
          <td>
            <%= link_to "Calculator", calculator_path(info[:id]) %>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
