<table>
  <thead>
    <th>Stat(all values at lvl 1)</th>
    <th>Stat</th>
  </thead>
  <tbody>
    <tr>
      <td>Health</td>
      <td><%= @champion_hash[:hp] %> </td>
    </tr>
  </tbody>
</table>
